<head></head>
<body>
<div style="width: 100%; background: #e74c3c; padding: 0 0 5px;">
    <a href="http://site.com"
       style="display: block; text-align: center; width: 100%; color: #fff; font-size: 24px; text-decoration: none;" target="_blank">
        <img src="http://site.com/images/logo.png" alt="logo">
    </a>
</div>
<p style="color: grey; font-size: 16px;">Автор письма:
    <span style="color: #222; font-weight: 500;">{{ name }}</span></p>
<p style="color: grey; font-size: 16px;">E-mail автора: <span style="color: #222; font-weight: 500;">
    <a href="mailto:{{ email }}">{{ email }}</a></span></p>
<div style="background: #f9f9f9; padding: 20px;">
    <h1 style="text-align: center; font-size: 22px; font-weight: 600;">{{ title }}</h1>
    <p style="font-size: 16px; line-height: 1.5; text-align: justify">{{ message }}</p>
</div>
</body>
</html>