<head></head>
<body>
<div style="width: 100%; background: #e74c3c; padding: 0 0 5px;">
    <a href="http://site.com"
       style="display: block; text-align: center; width: 100%; color: #fff; font-size: 24px; text-decoration: none;" target="_blank">
        <img src="http://site.com/images/logo.png" alt="logo">
    </a>
</div>

<p>{{temp_name}}</p>
<table>
    <tr>
        <th>Имя поля</th>
        <th>Значение поля</th>
    </tr>

   {% for field in fields %}
       <tr>
           <td>{{field.0}}</td>
           {% if field.1 == 'True' %}
                <td>Да</td>
           {% elif field.1 == 'False' %}
                <td>Нет</td>
           {% else %}
                <td>{{field.1}}</td>
           {% endif%}

       </tr>
    {% endfor %}


</table>
</body>
</html>