@mixin input-contact
    width: 80%
    height: 2.5rem
    border-radius: 1rem
    color: #6b5f5f
    padding: 0 1rem
    border: 1px #0d6efd solid
    outline: none

@mixin input-signup
    width: 40%
    height: 3.5rem
    border-radius: 1rem
    color: #6b5f5f
    padding: 0 1rem
    border: 1px #0d6efd solid
    outline: none

@mixin input-btn
    width: 20%
    height: 3.5rem
    border-radius: 1rem
    color: #fff

    padding: 0 1rem
    // border: 1px #096cd0 solid
    border: none
    outline: none
    background: linear-gradient(122deg, rgb(250, 85, 96) 0.01%, rgb(177, 75, 244) 49.9%, rgb(77, 145, 255) 100%)
    cursor: pointer
    @include respond(tab-land)

    @include respond(tab-port)

    @include respond(phone)
        width: 50%

    @include respond(mobile)

    @include respond(big-screen)


    // transition: all .5s linear
    &:hover
        // font-weight: 600
        border: .2rem solid #4d91ff
        // background: rgba(#096cd0, .8)
    
.temp-detail
    width: 100%
    display: flex

    @include respond(tab-land)

    @include respond(tab-port)

    @include respond(port870)
        gap: 7rem

    @include respond(phone)
        flex-direction: column
    @include respond(mobile)
        
    @include respond(big-screen)

.temp-detail-left
    min-width: 25%
    @include respond(tab-land)

    @include respond(tab-port)
        padding-bottom: 4rem

    @include respond(phone)
        // margin: 0 auto
        display: flex
        justify-content: space-evenly
        gap: 5rem
    @include respond(mobile)
        
    @include respond(big-screen)

.temp-detail-right
    min-width: 70%
    height: auto
    @include respond(tab-land)

    @include respond(tab-port)

    @include respond(phone)

    @include respond(mobile)
        
    @include respond(big-screen)

#id_fields
    color: #867575
    padding-bottom: 3rem
    padding-top: 1rem

.form-wrapper-temp-edit
    display: flex
    justify-content: space-evenly
    

.temp-edit-form
    padding: 3rem
    width: 35%
    @include respond(tab-land)

    @include respond(tab-port)

    @include respond(phone)
        width: 70%
    @include respond(mobile)

    @include respond(big-screen)
    label[for="id_name"]
        font-weight: 600
        color: #867575
        font-size: 1.7rem
        padding-bottom: 1rem
    input[type="checkbox"]
        margin-right: 2rem

#id_name
    display: block
    margin: 1rem 0
    padding: .5rem
    width: 20rem
    height: 4rem
    font-size: 1.7rem
    color: #867575  
    font-weight: 600
    border: 10px solid
    border-image-slice: 1
    border-width: .3rem
    border-image-source: linear-gradient(to left, #07a9b2, #3585e8)
    

#id_fields_helptext
    color: #3585e8
    font-weight: 600

.btn-nav
    cursor: pointer
    text-decoration: none
    color: #867575  
    font-weight: 600
    border: 10px solid
    border-image-slice: 1
    border-width: .3rem
    border-image-source: linear-gradient(to left, #07a9b2, #3585e8)
    background: #fff
    padding: 1rem 3rem
    transition: all .4s ease-in-out
    &:hover, &:active
        color: #1B9CFF
        font-weight: 900
    

.edit-form-img
    @include respond(tab-land)

    @include respond(tab-port)

    @include respond(phone)
        display: none
    @include respond(mobile)

    @include respond(big-screen)
    &__image
        // transition: transform .4s ease-in-out
        &:hover
            animation: rotation 10s linear infinite
            // transform: scale(.5, .5)

.back-btn
    position: absolute
    left: 0
    top: 0
    transition: all .2s ease-in-out
    @include respond(tab-land)

    @include respond(tab-port)

    @include respond(phone)
        display: none

    @include respond(mobile)

    @include respond(big-screen)
    &:hover
        background: rgba(#867575, .1)
    &__btn
        text-decoration: none
        font-size: 3.5rem
        color: #4966FF
        &:hover
            color: #2041e6

.contacts-form
    width: 24rem
    @include respond(tab-land)

    @include respond(tab-port)

    @include respond(phone)
        margin-top: 0
    @include respond(mobile)
        
    @include respond(big-screen)

    &__text-info
        margin-top: 1rem
        font-size: 1.2rem
        font-weight: 500
        color: #e40d0d
        line-height: .95
        &:before
            content: "*"
    &__title
        font-size: 1.8rem
        font-weight: 600
        background: linear-gradient(198deg, rgba(255,255,255,1) 0%, rgb(7, 169, 178) 30%, rgb(53, 133, 232) 93%)
        background-clip: text
        -webkit-background-clip: text
        color: transparent

.contact-form
    border: 1px #0d6efd solid
    height: auto
    text-align: center
    &__contact
    
    &__title
    &__telegram
    &__email
    &__current-contact
        font-size: 1.4rem
        word-wrap: break-word
        white-space: nowrap
        overflow: scroll
        padding: 0.5rem 0.5rem 2rem

        color: #6b5f5f
        &_email

        &_telegram
    &__actions
        @include respond(tab-land)

        @include respond(tab-port)

        @include respond(phone)
            margin-bottom: 3rem
        @include respond(mobile)
            
        @include respond(big-screen)
    &__action
        height: 2rem
        width: 2rem
        margin: 0 auto
        cursor: pointer
        transition: all .2s ease-in-out
        &:hover
            transform: scale(1.2)
    &__action-save
        height: 2rem
        width: 2rem
        
.form-edit-temp-contact
    padding-top: 1rem


#user-email
    @include input-contact


#user-telegram
    @include input-contact

#id_email, #id_password1, #id_password2, #id_first_name, #id_last_name, #id_telegram_username
    @include input-signup

.save-update-profile
    @include input-btn

.hidden-animate
    animation: cssHiddenAnimation 0s ease-in 1s forwards
    animation-fill-mode: forwards

@keyframes cssHiddenAnimation
    to
        opacity: 0
    