{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&family=Montserrat:wght@300;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div id="navbar">
                <div class="navbar__logo">
                    <div class="logo-img">
                        <a href="{% url 'index' %}"><img src="{% static 'images/icon-mail.png'%}" alt=""></a>
                    </div>
                    <div class="logo-name">
                        <a class="logo-name-link" href="{% url 'index' %}"><p class="logo-name">Почтмен</p></a>
                    </div>
                </div>
                <div class="navbar__menu">
                    <a href="{% url 'index' %}">Главная</a>
                    {% url 'index' as the_url %}
                    {% if request.get_full_path == the_url %}<a class="about-pochtman-link">О cервисе</a>{% endif %}
                    <div class="dropdown">
                        <button class="dropbtn">Документация
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="{% url 'docs' %}">Старт</a>
                            <a href="{% url 'docs_video' %}">Видео-пример</a>
                        </div>
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="dropdown">
                        <button class="dropbtn">Личный кабинет
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="{% url 'constructor' %}">Конструктор форм</a>
                            <a href="{% url 'templates' %}">Мои формы</a>
                            <a href="{% url 'statics' %}">Статистика</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="navbar__auth">
                    {% if user.is_authenticated %}
                        <div class="navbar__auth-username">
                            <p>{% if user.email %}{{ user.email | truncatechars:10}}{% else %}{{user.username | truncatechars:15}}{% endif %}</p>
                        </div>
                        <div class="navbar__user">
                            <a href="{% url 'profile' %}" class="navbar__username" data-user-id="{{ request.user.id }}">
                                {% if request.user.first_name and request.user.last_name %}
                                <img src="https://ui-avatars.com/api/?name={{request.user.first_name}}+{{request.user.last_name}}&background=0e1015&color=2E8ED9&font-size=0.4&bold=true&rounded=true" alt="User image" title="Перейти в профиль" style="border: #6DCCF8 3px solid;border-radius:50%;"></a>
                                {% else %}
                                    <img src="{% static 'images/icon-user.png' %}" alt="User image" title="Перейти в профиль"></a>
                                {% endif %}
                            <div class="navbar__notification" onclick="window.location.pathname =  '/templates/'" title="Уведомления"><p class="navbar__notification_count"></p></div>
                        </div>
                        <div class="navbar__actions">
                             <a href="{% url 'account_logout' %}"><img src="{% static 'images/logout.png' %}" alt="Quit" title="Выйти"></a>
                        </div>
                        
                    {% else %}
                        <a class="login-link navbar__username" data-user-id="0" href="{% url 'account_login' %}">Войти</a>
                        <a class="register-link" href="{% url 'signup' %}">Регистрация</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <main class="main">
            <div class="main-container">
            {% block content %}
                
            {% endblock content %}
            </div>   
        </main>

        <footer class="footer">
            <div class="footer-container">
                <p>&#169; Почтмен 2024. Все права защищены.</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>