{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="head">
    <h1 class="head__title margin-top-5rem">{{ title }}</h1>
    <div class="back-btn">
      <a href="{% url 'index' %}" class="back-btn__btn" title="Назад">&#8592;</a>
  </div>
</div>


<div class="wrapper-content padding-bottom-5rem">
    <div class="wrapper-content__left">
        <div class="wrapper-content__left wrapper-content__left_img-wrap margin-top-2rem">
          <img src="https://ui-avatars.com/api/?name={{request.user.first_name}}+{{request.user.last_name}}&background=0e1015&color=2E8ED9&font-size=0.4&bold=true&rounded=true&size=164" alt="User image" style="border: #6DCCF8 3px solid;border-radius:50%;">
        </div>

        <ul class="lk__items">
          {% if request.user.first_name %}
          <li class="lk__item">{{ request.user.first_name }}</li>
          {% endif %}
          {% if request.user.last_name %}
          <li class="lk__item">{{request.user.last_name}}</li>
          {% endif %}
          {% if request.user.email %}
          <li class="lk__item">{{request.user.email | truncatechars:28}}</li>
          {% endif %}
          {% if request.user.profile.telegram_username %}
          <li class="lk__item">{{request.user.profile.telegram_username}}</li>
          {% endif %}
        </ul>
        <p class="profile-csrf hidden" data-csrf={{csrf_token}}>{{request.user.email}}</p>
        <div class="center margin-top-3rem">
          <a href="{% url 'edit_profile' %}" class="save-update-profile updade-lk">Редактировать профиль</a>
        </div>
        <div class="center margin-top-3rem">
          <a class="update-api-key" href="{% url 'update_token' %}">Обновить API-ключ</a>
        </div>

    </div>

  <div class="wrapper-content__right">
    <div class="api-block">
        <p class="api-block__desc margin-top-2rem">Скопируйте ваш уникальный API ключ из поля ниже.</p>
    </div>  
    <div class="api">
      {% if token %}
      <button class="api__create-api-key-btn save-update-profile margin-top-2rem">Смотреть API-ключ</button>
      <button class="hidden-api-key hidden margin-top-2rem">Скрыть API-ключ</button>
      {% else %}
      <button class="api__create-api-key-btn save-update-profile margin-top-2rem">Создать API-ключ</button>
      <button class="hidden-api-key hidden margin-top-2rem">Скрыть API-ключ</button>
      {% endif%}
  </div>
  </div>
</div>





<script src="{% static 'js/lk.js' %}"></script>

{% endblock content %}