{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}Документация{% endblock title %}

{% block content %}
<div class="navigation padding-top-2rem">
    <ul class="navigation__menu">
        <li class="navigation__item"><button class="navigation__btn">HTML</button></li>
        <li class="navigation__item"><button class="navigation__btn">CSS</button></li>
        <li class="navigation__item"><button class="navigation__btn">JS</button></li>
    </ul>
</div>
<section class="code-section ">
    <pre>
        <code class="code-html">
            {{code}}
        </code>
    </pre>
</section>

 
<div>
    <p>style.css</p>
<pre>
    <code class="css-result">
<span class="keyword">.temp_name</span><span class="rules"> {
    <span class="rule"><span class="rule__keyword">width:</span><span class="value">500px;</span></span>
    <span class="rule"><span class="rule__keyword">height:</span><span class="value">300px;</span></span>
    <span class="rule"><span class="rule__keyword">border:</span><span class="value">1px solid #80a9ec;</span></span>
    <span class="rule"><span class="rule__keyword">border-radius:</span><span class="value">8px;</span></span>
}
</span>
<span class="keyword">.form</span><span class="rules"> {
    <span class="rule"><span class="rule__keyword">width:</span><span class="value">80%;</span></span>
    <span class="rule"><span class="rule__keyword">height:</span><span class="value">inherit;</span></span>
    <span class="rule"><span class="rule__keyword">margin:</span><span class="value">0 auto;</span></span>
}
</span>

<span class="keyword">.form__label</span><span class="rules">
    <span class="rule"><span class="rule__keyword">display:</span><span class="value">block;</span></span>
    <span class="rule"><span class="rule__keyword">text-align:</span><span class="value">center;</span></span>
    <span class="rule"><span class="rule__keyword">font-size:</span><span class="value">20px;</span></span>
    <span class="rule"><span class="rule__keyword">margin-top:</span><span class="value">30px;</span></span>
    <span class="rule"><span class="rule__keyword">font-weight:</span><span class="value">bold;</span></span>
</span>

<span class="keyword">.form__input</span><span class="rules">
    <span class="rule"><span class="rule__keyword">height:</span><span class="value">35px;</span></span>
    <span class="rule"><span class="rule__keyword">width:</span><span class="value">250px;</span></span>
    <span class="rule"><span class="rule__keyword">border:</span><span class="value">2px solid #1C58F0;</span></span>
    <span class="rule"><span class="rule__keyword">border-radius:</span><span class="value">7px;</span></span>
    <span class="rule"><span class="rule__keyword">padding-left:</span><span class="value">10px;</span></span>
    <span class="rule"><span class="rule__keyword">font-size:</span><span class="value">18px;</span></span>
    <span class="rule"><span class="rule__keyword">margin-top:</span><span class="value">30px;</span></span>
</span>

<span class="keyword">.field-wrapper</span><span class="rules">
    <span class="rule"><span class="rule__keyword">width:</span><span class="value">100%;</span></span>
    <span class="rule"><span class="rule__keyword">text-align:</span><span class="value">center;</span></span>
</span>

<span class="keyword">.send-btn</span><span class="rules">
    <span class="rule"><span class="rule__keyword">margin-top:</span><span class="value">50px;</span></span>
    <span class="rule"><span class="rule__keyword">display:</span><span class="value">block;</span></span>
    <span class="rule"><span class="rule__keyword">text-align:</span><span class="value">center;</span></span>
</span>

<span class="keyword">.btn</span><span class="rules">
    <span class="rule"><span class="rule__keyword">padding:</span><span class="value">10px 30px;</span></span>
    <span class="rule"><span class="rule__keyword">outline:</span><span class="value">none;</span></span>
    <span class="rule"><span class="rule__keyword">border:</span><span class="value">2px solid #1C58F0;</span></span>
    <span class="rule"><span class="rule__keyword">border-radius:</span><span class="value">7px;</span></span>
    <span class="rule"><span class="rule__keyword">background:</span><span class="value">#fff;</span></span>
    <span class="rule"><span class="rule__keyword">cursor:</span><span class="value">pointer;</span></span>
</span>

<span class="keyword">.btn:hover</span><span class="rules">
    <span class="rule"><span class="rule__keyword">background:</span><span class="value">#e0dede;</span></span>
</span>
    </code>

</pre>
</div>

<div class="js-code-content">
    <pre>
        <code class="js-code">
<span class="js-keyword">const</span> btnForm = document.<span class="js-function">querySelector</span>(<span class="js-body-str">'.btn-brown'</span>);
<span class="js-keyword">const</span> form = document.<span class="js-function">querySelector</span>(<span class="js-body-str">'.form'</span>);

btnForm.<span class="js-function">addEventListener</span>(<span class="js-body-str">'click'</span>, (e) => {
    e.<span class="js-function">preventDefault</span>();
    <span class="js-keyword">const</span> name = document.<span class="js-function">querySelector</span>(<span class="js-body-str">'#name'</span>).value;
    <span class="js-keyword">const</span> email = document.<span class="js-function">querySelector</span>(<span class="js-body-str">'#email'</span>).value;
  
    <span class="js-function">asyncPostCall</span>(name, email);
});

<span class="js-keyword">const</span> <span class="js-function">asyncPostCall</span> = <span class="js-keyword">async</span> (name, email) => {

    <span class="js-keyword">try</span> {
        <span class="js-keyword">const</span> response = <span class="js-keyword">await</span> <span class="js-function">fetch</span>(<span class="js-body-str">'http://127.0.0.1:8000/api/forms/'</span>, {
         method: <span class="js-body-str">'POST'</span>,
         headers: {
           <span class="js-body-str">'Content-Type'</span>: <span class="js-body-str">'application/json'</span>
           },
           body: JSON.<span class="js-function">stringify</span>({
              <span class="js-body-str">"name"</span>: name,
              <span class="js-body-str">"last_name"</span>: name,
              <span class="js-body-str">"email"</span>: email,
              <span class="js-body-str">"client"</span>: 8
           }),
         });

         <span class="js-keyword">const</span> data = <span class="js-keyword">await</span> response.<span class="js-function">json</span>();
        } <span class="js-keyword">catch</span>(error) {
          console.<span class="js-function">log</span>(error);
        } 
    }
        </code>
    </pre>
</div>
{% endblock content %}