{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}Главная{% endblock title %}

{% block content %}
    <section class="head">
        <h1 class="head__title margin-top-5rem">Pochtman - легкий способ обработки форм и уведомлений.</h1>
        <h2 class="head__description margin-top-2rem"><p>Не упустите возможность максимизировать эффективность сбора данных.</p><p>Присоединяйтесь к Почтмен сегодня и упростите ваш процесс обратной связи!</p></h2>
    
        <div class="head composition margin-top-5rem">
            <div class="composition__item composition__item_simple-integration">
                <h2 class="composition__text"><p>Простота</p><p>интеграции</p></h2>
            </div>
            <div class="composition__item composition__item_real-time-notifications">
                <h2 class="composition__text"><p>Уведомления в</p><p>реальном</p><p>времени</p></h2>
            </div>
            <div class="composition__item composition__item_static">
                <h2 class="composition__text"><p>Статистика и</p><p>аналитика</p></h2>
            </div>
            <div class="composition__item composition__item_tg">
                <h2 class="composition__text"><p>Интеграция с</p><p>Телеграмм</p></h2>
            </div>
            <div class="composition__item composition__item_safety">
                <h2 class="composition__text"><p>Безопасность и</p><p>конфиденциальность</p></h2>
            </div>
        
        </div>
    </section>
    {% if not request.user.is_authenticated %}
        <div class="not-auth-users-wrap margin-top-5rem padding-bottom-5rem">
            <div class="wrapper-btn center">
                <a href="{% url 'account_login' %}" class="btn">Войти</a>
            </div>
            <div class="wrapper-btn center">
                <a href="{% url 'account_signup' %}" class="btn border-green">Регистрация</a>
            </div>
        </div>
        {% else %}
        <div class="not-auth-users-wrap margin-top-5rem padding-bottom-5rem">
            <div class="wrapper-btn center">
                <a href="{% url 'profile' %}" class="btn">Личный кабинет</a>
            </div>
        </div>
    {% endif %}
    
    <section class="advantage">
        <div class="advantage__wrapper">
            <div class="advantage__text margin-left-10rem"><p class="advantage__desc">Наше API разработано так, чтобы сделать сбор данных простым, даже для новичков. За несколько минут вы будете собирать информацию с вашего веб-сайта.</p></div>
            <div class="advantage__image-wrap">
                <img src="{%static 'images/kandinsky-main-page-img.png'%}" alt="" class="advantage__image">
            </div>
        </div>
    </section>
    <section class="advantage">
        <div class="advantage__wrapper reverse">
            <div class="advantage__text margin-right-10rem"><p class="advantage__desc">Получайте данные с форм в реальном времени. Наше API уведомляет вас сразу на электронную почту и в телеграмм, когда посетитель вашего сайта отправляет форму. </p></div>
            <div class="advantage__image-wrap">
                <img src="{%static 'images/kandinsky-advanced-app.png'%}" alt="" class="advantage__image">
            </div>
        </div>
    </section>
    <section class="advantage">
        <div class="advantage__wrapper">
            <div class="advantage__text margin-left-10rem"><p class="advantage__desc">Отслеживайте, как работают ваши формы. Наша статистика предоставляет вам обзор ключевых метрик, позволяя вам улучшать взаимодействие с вашей аудиторией.</p></div>
            <div class="advantage__image-wrap">
                <img src="{%static 'images/kandinsky-app-static.png'%}" alt="" class="advantage__image">
            </div>
        </div>
    </section>
    <section class="advantage">
        <div class="advantage__wrapper reverse">
            <div class="advantage__text margin-right-10rem"><p class="advantage__desc">Ваши данные под вашим полным контролем. Вы управляете, кому предоставлять доступ, и какие действия разрешены, обеспечивая безопасность вашей информации.</p></div>
            <div class="advantage__image-wrap">
                <img src="{%static 'images/kandinsky-beautiful-girl-3-anime.png'%}" alt="" class="advantage__image">
            </div>
        </div>
    </section>
    <section class="about-service center" id="about-pochtman">
        <h2 class="about-service__title">Почтмен - упрощенная система управления формами для малых веб-сайтов</h2>
        <p class="about-service__description margin-top-3rem">Почтмен - это интуитивно понятное и легко настраиваемое приложение, разработанное для владельцев малых веб-сайтов. Наше приложение позволяет вам создавать и управлять формами обратной связи без необходимости написания собственного бэкенда. Мы сделали процесс создания форм простым и доступным даже для тех, кто не имеет опыта в веб-разработке.</p>
    </section>
    <div class="center">
        <h3 class="about-service__title margin-top-5rem">Ключевые возможности:</h3>
    </div>
    <section class="key-features margin-top-5rem">
        <div class="features box-shadow">
            <div class="features__header">Быстрое создание форм:</div>
            <div class="features__desc  margin-top-2rem">Используйте наш интуитивный интерфейс {% if request.user.is_authenticated %}<a href="{% url 'constructor' %}" class="api-block__link">конструктора</a>{% else %}конструктора{% endif %} для создания профессионально выглядящих форм обратной связи всего за несколько минут. Просто добавьте необходимые поля и настройте параметры, и ваша форма будет готова к использованию.</div>
        </div>
        <div class="features box-shadow">
            <div class="features__header">Готовые HTML, CSS и JS коды:</div>
            <div class="features__desc  margin-top-2rem">Мы предоставляем вам готовый HTML код для вставки формы на ваш веб-сайт. Кроме того, мы также предоставляем JS код для отправки данных формы на наш сервер, что обеспечивает удобство и безопасность.</div>
        </div>
        <div class="features box-shadow">
            <div class="features__header">Управление формами:</div>
            <div class="features__desc  margin-top-2rem">Легко управляйте созданными формами через наш пользовательский интерфейс. Вы можете просматривать отправленные данные, настраивать уведомления и многое другое.</div>
        </div>
        <div class="features box-shadow">
            <div class="features__header">Уведомления в реальном времени:</div>
            <div class="features__desc  margin-top-2rem">Получайте уведомления о новых отправленных формах в реальном времени через электронную почту и даже в мессенджере Telegram, чтобы никогда не пропустить важную обратную связь от ваших пользователей.</div>
        </div>

    </section>
    <section class="feedBack padding-top-5rem margin-top-5rem">
        <h2 class="feedBack__title">Отзывы наших клиентов</h2>
        <div class="carousel">
            <div class="nav nav-left">
                <div class="ion-chevron-left carousel-arrow-icon-left"></div>
            </div>
      
            <div class="carousel-content">
                {% if comments %}
                    {% for comment in comments %}
                        <div class="slide">
                            <div class="slide__item">
                                <div class="slide__item_inner">
                                    <div class="slide__date">{{comment.get_date}} г.</div>
                                    <div class="hr"></div>
                                    <div class="slide__text margin-top-2rem">
                                        <p>{{comment.text}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor%}
                {% else %}
                    <p>Нет отзывов</p>
                {% endif %}
            </div>

            <div class="nav nav-right">
                <div class="ion-chevron-right carousel-arrow-icon-right"></div>
            </div>
        </div>
    </section>
    {% if request.user.is_authenticated %}
    <section class="form-feedBack">
        <div class="form-wrapper">
            <form class="form-feedback-main-page" method="post" action="">
                {% csrf_token %}
                <div class="form__fieldWrapper">
                    {% if not form.text.errors %}
                        {{ form.text.errors }}
                    {% endif %}
                    <label class="form__label" for="{{ form.text.id_for_label }}">Оставьте свой отзыв о нашем приложении.</label>
                        <div class="margin-top-3rem">
                            {{ form.text }}
                        </div>
                    {% comment %}
                    <textarea type="text" name="{{ form.text.text }}" id="{{ form.text.id_for_label }}"></textarea>
                    {% endcomment %}
                </div>
                <div class="wrapper-btn center margin-top-3rem">
                    <button type="submit" class="btn btn_green-bg">Оставить отзыв</button>
                </div>
            </form>
        </div>
        <div class="hr correct-hr"></div>
    </section>
    {% endif %}
        {% if not request.user.is_authenticated %}
            <div class="wrapper-btn center padding-bottom-5rem">
                <a href="{% url 'account_login' %}" class="btn">Войти</a>
            </div>
        {% else %}
            <div class="wrapper-btn center padding-bottom-5rem">
                <a href="{% url 'constructor' %}" class="btn">Создать новую форму</a>
            </div>
        {% endif %}

        
{% endblock content %}

