{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}Уведомления{% endblock title %}

{% block content %}
<div class="head margin-bottom-3rem">
    <h1 class="head__title margin-top-5rem">Уведомления</h1>
    <h2 class="head__description margin-top-2rem"><p>Для просмотра деталей формы нажмите на нее 2 раза.</p></h2>
    <div class="back-btn">
        <a href="{% url 'templates' %}" class="back-btn__btn" title="Назад">&#8592;</a>
    </div>
</div>
{% if fields %}
<div class="wrapper-grid-table-head" style="grid-template-columns: repeat({{ count_fields }}, 1fr);">
    {% for field in fields %}
        <div class="grid-cell-head">{{field.field_name}}</div>
    {% endfor %}
</div>
{% else %}
<p>Шаблон формы не закончен, отредактируйте его</p>
{% endif %}

<div class="wrapper-grid-table" style="grid-template-columns: repeat({{ count_fields }}, 1fr);">
    {% for notification in notifications %}
        <div class="grid-cell {% if notification.read_status == False %}grid-cell_unreaded{% endif %}" data-readed="{% if notification.read_status == False %}unreaded{% endif %}" data-uid="{{notification.uid}}">{{notification.data}}</div>
    {% endfor %}
</div>
<script src="{% static 'js/notifications.js'%}"></script>
{% endblock content %}