{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}Детали формы{% endblock title %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if 'messages__success_updated' in message.extra_tags %}
            <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}>
                {{message}}
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
<div class="head margin-bottom-3rem">
    <h1 class="head__title margin-top-5rem">Подробности формы</h1>
    <h2 class="head__description margin-top-2rem">{{template.name| capfirst}}</h2>
    <div class="back-btn">
        <a href="{% url 'templates' %}" class="back-btn__btn" title="Назад">&#8592;</a>
    </div>
</div>
<div class="temp-detail padding-bottom-5rem">
    <div class="temp-detail-left">
        <div class="temp-card box-shadow-grey" id="{{ template.id }}" data-temp-id="{{ template.id }}">
            <div class="temp-card__header"><span id="temp-card__template-name">{{ template.name|title| truncatechars:15}}</span> <span class="temp-card__header_temp-id">#{{template.id}}</span></div>
            <div class="temp-card__body">
                <h5 class="temp-card__title">Поля формы:</h5>
                {% if template.fields %}
                    {% for field in template.fields.all %}
                    <p class="temp-card__text"><span class="temp-card__text-underline">{{field.field_name}}</span>: <span class="temp-card__text-bold">{{field.field_type}}</span></p>
                    {% endfor %}
                    <div class="temp-card__notification"></div>
                    <div class="temp-card__buttons">
                        <a href="{% url 'notification_temp' template.id %}" class="temp-card__button"><img src="{% static 'images/bell.png' %}" alt="read" title="Уведомления"></a>
                        <a href="{% url 'template_edit' template.id %}" class="temp-card__button"><img src="{% static 'images/edit2.png' %}" alt="edit" title="Редактировать"></a>
                        <a href="{% url 'template_delete' template.id %}" class="temp-card__button"><img src="{% static 'images/remove.png' %}" alt="delete" title="Удалить"></a>
                    </div>
                {% else%}
                <p class="temp-card__text">Полей нет</p>
                {% endif %}
            </div>
        </div>
        {% comment %}
        <a href="{% url 'templates' %}" class="btn margin-top-5rem">Назад</a>
        {% endcomment %}

        <div class="contacts-form margin-top-5rem">
            <h2 class="contacts-form__title">Контакты формы:</h2>

            <div class="contact-form contact-form__email box-shadow-grey margin-top-2rem">
                <div class="temp-card__header">
                    <p class="contact-form__title">Email</p>
                </div>
                <div class="contact-form__contact contact-form__contact_email">
                    <p class="contact-form__current-contact contact-form__current-contact_email">
                        {% if template.email_author != None %}
                            {{template.email_author | truncatechars:64 }}
                        {% endif %}
                    </p>
                </div>
                <div class="contact-form__actions margin-top-2rem padding-bottom-1rem">
                    <div class="contact-form__action contact-form__action_email" >
                        <img class="contact-form__action-edit contact-form__action-edit_email" data-name="email" src="{% static 'images/edit2.png' %}" alt="Редактировать" title="Редактировать">
                    </div>
                </div>
            </div>

            <div class="contact-form contact-form__telegram box-shadow-grey margin-top-2rem">
                <div class="temp-card__header">
                    <p class="contact-form__title">Telegram</p>
                </div>
                
                <div class="contact-form__contact contact-form__contact_telegram">
                    <div class="contact-form__check-telegram" title="Подписаны ли на бота?">&#10003;</div>

                    <p class="contact-form__current-contact contact-form__current-contact_telegram">
                        {% if template.telegram_author != None %}
                            {{template.telegram_author}}
                        {% endif%}
                    </p>
                </div>
                
                <div class="contact-form__actions margin-top-2rem padding-bottom-1rem">
                    
                    <div class="contact-form__action contact-form__action_telegram" >
                        <img class="contact-form__action-edit contact-form__action-edit_telegram" data-name="telegram" src="{% static 'images/edit2.png' %}" alt="Редактировать" title="Редактировать">
                    </div>
                    {% comment %}
                    <div class="contact-form__action" >
                        <img class="contact-form__action-save contact-form__action-save_telegram" src="https://static.thenounproject.com/png/2853302-200.png" alt="">
                    </div>
                    {% endcomment %}

                </div>
            </div>
            <p class="contacts-form__text-info">По этим контактам Вам будут приходить уведомления.</p>
        </div>
        
    </div>
    <div class="temp-detail-right padding-bottom-5rem">
        <div class="navigation">
        <ul class="navigation__menu navigation__menu_not-center">
            <li class="navigation__item"><button class="navigation__btn border html-btn-load" data-name="html">HTML</button></li>
            <li class="navigation__item"><button class="navigation__btn border" data-name="css">CSS</button></li>
            <li class="navigation__item"><button class="navigation__btn border" data-name="js">JS</button></li>
        </ul>
    </div>
        <div class="template-results-wrapper">
        <div class="html-code-content">
            <p>index.html</p>
            
        </div>
        <div class="css-code-content hidden">
            <p>style.css</p>
            <pre class="css-result">
                
            </pre>
        </div>
        <div class="js-code-content hidden">
            <p>index.js</p>

        </div>
    </div>
    </div>
</div>
<script src="{% static 'js/template.js'%}"></script>
{% endblock content %}
