{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="head margin-bottom-3rem">
    <h1 class="head__title margin-top-5rem">Подробности формы</h1>
</div>
<div class="temp-detail">
    <div class="temp-detail-left" data-csrf={{csrf_token}}>
        <div class="temp-card box-shadow-grey" data-temp-id="{{ template.id }}">
            <div class="temp-card__header">{{template.name|title}}</div>
            <div class="temp-card__body">
                <h5 class="temp-card__title">Поля формы:</h5>
                {% if template.fields %}
                    {% for field in template.fields.all %}
                    <p class="temp-card__text"><span class="temp-card__text-underline">{{field.field_name}}</span>: <span class="temp-card__text-bold">{{field.field_type}}</span></p>
                    {% endfor %}
                    <div class="temp-card__buttons">

                        <a href="{% url 'template_edit' template.id %}" class="temp-card__button"><img src="{% static 'images/edit2.png' %}" alt="edit" title="Редактировать"></a>
                        <a href="#" class="temp-card__button"><img src="{% static 'images/remove.png' %}" alt="delete" title="Удалить"></a>
                    </div>
                {% else%}
                <p class="temp-card__text">Полей нет</p>
                {% endif %}
            </div>
        </div>
        <a href="{% url 'templates' %}" class="btn margin-top-5rem">Назад</a>
    </div>
    <div class="temp-detail-right">
        <div class="navigation">
        <ul class="navigation__menu navigation__menu_not-center">
            <li class="navigation__item"><button class="navigation__btn border html-btn-load" data-name="html">HTML</button></li>
            <li class="navigation__item"><button class="navigation__btn border" data-name="css">CSS</button></li>
            <li class="navigation__item"><button class="navigation__btn border" data-name="js">JS</button></li>
        </ul>
    </div>
        <div class="template-results-wrapper">
        <div class="html-code-content">
            <p>index.html</p>
            
        </div>
        <div class="css-code-content hidden">
            <p>style.css</p>
            <pre class="css-result">
                
            </pre>
        </div>
        <div class="js-code-content hidden">
            <p>index.js</p>

        </div>
    </div>
    </div>
</div>
<script src="{% static 'js/template.js'%}"></script>
{% endblock content %}
