.header {
    width: 100%;
    height: 8rem;
    background-color: #0E1014;
    
}

.navbar__logo {
    color: #f2f2f2;
    display: flex;
    /* flex-direction: column;
    justify-content: center; */
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.logo-name {
    /* text-transform: uppercase; */  
    letter-spacing: .3rem;
    font-weight: 600;
    font-size: 2.5rem;
    background: linear-gradient(198deg, rgba(255,255,255,1) 0%, rgb(7, 169, 178) 30%, rgb(53, 133, 232) 93%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.logo-img img{
    height: 5.5rem;
    width: 5.5rem;
    transform: rotate(-20deg);
}

.navbar__auth {
    color: #f2f2f2;
    min-width: 13rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.navbar__auth-username {
    font-weight: 600;
}
.navbar__user img {
    width: 3.5rem;
    height: 3.5rem;
    vertical-align: text-top;
    cursor: pointer;
}

.navbar__actions img {
    margin-top: 0.7rem;
    width: 3.4rem;
    height: 3.4rem;
    background-color: #0E1014;
    padding: 0;
}
.register-link:hover, .login-link:hover {
    color:#4DACF2 !important;
}

.navbar__username {
    /* text-align: center; */
}
.navbar__actions_button-quit {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
    cursor: pointer;
}
#navbar {
    overflow: hidden;
    width: 90%;
    height: inherit;    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
.navbar__menu {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
  
  /* Navbar links */
#navbar a {
    /* float: right; */
    display: block;
    text-align: center;
    color: #f2f2f2;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  /* .content {
    padding: 16px;
  } */
  
  /* The dropdown container */
  .dropdown {
    /* float: right; */
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(118, 120, 121);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #524e4e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #130a0a;
    opacity: .8;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* The sidebar menu */
.sidenav {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 16rem; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 10rem; /* Stay at the top */
    left: 0;
    background-color: #0E1014; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
