.edit-profile label {
    display: block;
    margin-bottom: 1rem;
    color: #6b5f5f;

}

.edit-profile input {
    margin-bottom: 2rem;
}

.form-froala {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-froala__form {
    width: 50%;
}
