.box-shadow {
  box-shadow: 1px 3px 15px #1C58F0;
  border-radius: 1rem;
}

.box-shadow-grey {
  box-shadow: 1px 3px 5px #64666b;
  border-radius: 0.5rem;
}

.border {
  border: 0.3rem solid #1C58F0;
  border-radius: 1rem;
}

.correct-hr {
  margin-top: 10rem;
}

.center {
  text-align: center;
}

.reverse {
  flex-direction: row-reverse;
}

.margin-left-10rem {
  margin-left: 10rem;
}

.margin-right-10rem {
  margin-right: 10rem;
}

.margin-top-5rem {
  margin-top: 5rem;
}

.margin-top-10rem {
  margin-top: 10rem;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.padding-top-5rem {
  padding-top: 5rem;
}

.padding-top-2rem {
  padding-top: 2rem;
}

.padding-bottom-5rem {
  padding-bottom: 5rem;
}

.padding-bottom-1rem {
  padding-bottom: 1rem;
}

.margin-bottom-3rem {
  margin-bottom: 3rem;
}

.padding-bottom-10rem {
  padding-bottom: 10rem;
}

.not-auth-users-wrap {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.head {
  text-align: center;
  position: relative;
}
.head__title {
  letter-spacing: 0.1rem;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(198deg, rgb(255, 255, 255) 0%, rgb(7, 169, 178) 30%, rgb(53, 133, 232) 93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.head__description {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #867575;
}

.composition {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  gap: 1rem;
  color: #bab2b2;
}
.composition__item {
  flex: 0 0 18rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 30rem;
  background-color: #867575;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out, flex 0.4s ease-in-out, transform 0.4s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 5px 15px #1C58F0;
  backface-visibility: hidden;
}
@media (max-width: 950px) {
  .composition__item {
    flex: 0 0 8rem;
    width: 15%;
  }
}
@media (max-width: 650px) {
  .composition__item {
    flex: 0 0 8rem;
    width: 15%;
  }
}
@media (max-width: 450px) {
  .composition__item {
    flex: 0 0 8rem;
    width: 15%;
  }
}
.composition__item:nth-of-type(1) {
  background: url("/static/images/kandinsky-main-page-img.png") no-repeat 50%/cover;
}
.composition__item:nth-of-type(1):hover {
  color: #fff;
}
.composition__item:nth-of-type(2) {
  background: url("/static/images/kandinsky-advanced-app.png") no-repeat 50%/cover;
}
.composition__item:nth-of-type(2):hover {
  color: #fff;
}
.composition__item:nth-of-type(3) {
  background: url("/static/images/kandinsky-app-static.png") no-repeat 50%/cover;
}
.composition__item:nth-of-type(3):hover {
  color: #fff;
}
.composition__item:nth-of-type(5) {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 59%, rgba(95, 28, 95, 0.9) 100%), url("/static/images/kandinsky-beautiful-girl-3-anime.png") no-repeat 50%/cover;
}
@media (max-width: 650px) {
  .composition__item:nth-of-type(5) {
    flex: 0 0 7rem;
    width: 12%;
  }
}
@media (max-width: 450px) {
  .composition__item:nth-of-type(5) {
    width: 15%;
  }
}
.composition__item:nth-of-type(5):hover {
  color: #fff;
}
.composition__item:nth-of-type(4) {
  background: url("/static/images/kandinsky-tech-app-cyberpunk.png") no-repeat 50%/cover;
}
.composition__item:nth-of-type(4):hover {
  color: #fff;
}
.composition__item:hover {
  flex: 0 0 22rem;
  box-shadow: 1px 3px 15px #f684f6;
  transform: translate(2rem, -1rem);
  z-index: 10;
}
.composition__text {
  font-weight: bold;
  font-size: 1.6rem;
}
@media (max-width: 950px) {
  .composition__text {
    font-size: 1rem;
    padding: 0 1rem;
  }
}
@media (max-width: 650px) {
  .composition__text {
    font-size: 1rem;
    padding: 0 1rem;
  }
}
@media (max-width: 450px) {
  .composition__text {
    font-size: 1rem;
    padding: 0 1rem;
  }
}

.hidden {
  display: none;
}

.margin-top-3rem {
  margin-top: 3rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  outline: none;
  border: 0.3rem solid #1C58F0;
  color: #8b8585;
  border-radius: 1rem;
  background: transparent;
  cursor: pointer;
  padding: 1rem 4rem;
  font-size: 1.8rem;
  font-weight: 700;
  transition: ease-out, color 0.5s ease-out;
  backface-visibility: hidden;
  position: relative;
  box-sizing: border-box;
}
.btn:focus {
  border: 0.3rem solid #F67EF3;
  color: #0E1015;
}
.btn:hover {
  color: #0E1015;
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 5rem;
  background: rgba(51, 91, 201, 0.2);
  border-radius: 5px;
  transition: all 1s ease-in-out;
}
.btn:hover::before {
  width: 100%;
  height: 100%;
}

.btn_green-bg:before {
  height: 4.1rem;
  background: rgba(28, 207, 129, 0.4);
}

.border-green {
  border: 0.3rem solid #1cbc66;
}

.advantage {
  margin: 5rem auto;
  width: 80%;
  height: 40rem;
}
@media (max-width: 650px) {
  .advantage {
    margin-bottom: 10rem;
  }
}
.advantage__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .advantage__wrapper {
    gap: 10rem;
  }
}
@media (max-width: 950px) {
  .advantage__wrapper {
    gap: 10rem;
  }
}
.advantage__text {
  width: 50%;
  display: flex;
  align-self: center;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 1px 3px 15px #1C58F0;
  transition: background 0.5s linear;
  padding: 2rem;
}
@media (max-width: 950px) {
  .advantage__text {
    width: 100%;
    margin-right: -5rem;
    margin-left: -5rem;
  }
}
@media (max-width: 650px) {
  .advantage__text {
    width: 100%;
    margin-right: -5rem;
    margin-left: -5rem;
  }
}
@media (max-width: 450px) {
  .advantage__text {
    width: 100%;
    margin-right: -5rem;
    margin-left: -5rem;
  }
}
.advantage__text:hover {
  background: rgba(28, 88, 240, 0.2);
}
.advantage__desc {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
.advantage__image-wrap {
  width: 50%;
  display: flex;
  justify-content: center;
}
.advantage__image {
  height: 40rem;
  width: 35rem;
  border-radius: 1rem;
  box-shadow: 1px 3px 15px #1C58F0;
  transition: all 0.4s ease-in-out;
}
.advantage__image:hover {
  transform: scale(0.9);
}

.feedBack {
  width: 100%;
  height: 50rem;
}
.feedBack__title {
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  color: #867575;
  background: linear-gradient(198deg, #ffffff 0%, #07a9b2 30%, #3585e8 93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.form-feedBack {
  width: 100%;
  height: 50rem;
}

.carousel {
  position: relative;
  width: 100%;
  height: 25rem;
  margin: 5rem auto;
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width 0.4s;
  height: 100%;
}

.slide {
  height: 100%;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 1;
  transition: left 0.4s cubic-bezier(0.47, 0.13, 0.15, 0.89);
}

.slide__item {
  margin-top: 0.5rem;
  border: 0.3rem solid rgba(28, 88, 240, 0.2);
  border-radius: 1.5rem;
  height: 24rem;
  margin-right: 3rem;
  overflow: scroll;
  transition: 0.2s ease-in-out;
}
.slide__item:hover {
  border: 0.4rem solid rgba(28, 88, 240, 0.5);
}
.slide__item:first-child {
  margin-left: 3rem;
}
.slide__item_inner {
  padding: 1rem;
}

.hr {
  width: 100%;
  height: 0.3rem;
  border-radius: 1rem;
  background-color: rgba(28, 88, 240, 0.5);
}

.slide__date {
  text-align: right;
  color: #867575;
  font-weight: 600;
  font-size: 1.4rem;
}

.slide__text {
  font-size: 1.4rem;
  color: #6b5f5f;
}

.nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background: rgba(28, 88, 240, 0.5);
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  transition: background 0.3s ease-in-out;
  -webkit-user-select: none;
}
.nav:hover {
  background: rgba(28, 88, 240, 0.8);
}

.nav-left {
  left: -25px;
  left: 0;
}
.nav-right {
  right: -25px;
  right: 0;
}
.carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
}

.form-feedback-main-page textarea {
  margin-left: 2rem;
  padding: 1rem;
  outline: none;
  border: none;
  border: 0.2rem solid rgba(28, 88, 240, 0.2);
  background: rgba(122, 126, 135, 0.2);
  resize: none;
  width: 50rem;
  height: 15rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-family: "Montserrat", sans-serif;
  color: #6b5f5f;
  transition: border 0.4s ease-in-out;
}
.form-feedback-main-page textarea:focus, .form-feedback-main-page textarea:hover {
  border: 0.4rem solid rgba(28, 88, 240, 0.2);
}

.form-feedback-main-page label {
  text-align: center;
  background: linear-gradient(198deg, rgb(255, 255, 255) 0%, rgb(7, 169, 178) 30%, rgb(53, 133, 232) 93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5rem;
}

pre {
  width: 100%;
  background-color: #f4f4f4;
  color: #110303;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: auto;
  margin: 2rem 0;
}

code {
  display: block;
  white-space: pre-wrap;
  font-family: "Courier New", monospace;
  color: #0f0101;
  margin-left: 0.7rem;
}

.code-result {
  position: relative;
}

.messages {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.messages__success {
  padding: 2rem 5rem;
  border-radius: 1rem;
}
.messages__success_updated {
  padding: 2rem 5rem;
  border-radius: 1rem;
  background: rgba(95, 223, 80, 0.6);
}
.messages__error {
  padding: 2rem 5rem;
  border-radius: 1rem;
  background: rgba(221, 39, 39, 0.6);
}

.about-service {
  width: 90%;
  margin: 13rem auto 2rem;
  color: #6b5f5f;
}
.about-service__title {
  color: black;
  font-size: 2.3rem;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(198deg, rgb(255, 255, 255) 0%, rgb(7, 169, 178) 30%, rgb(53, 133, 232) 93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.about-service__description {
  font-size: 1.8rem;
}

.key-features {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 40% 40%;
  row-gap: 5rem;
}

.features {
  color: #6b5f5f;
  padding: 2rem 3rem;
  transition: all 0.4s ease-in-out;
}
.features:hover {
  transform: scale(1.05);
  background: rgba(28, 88, 240, 0.2);
}
.features__header {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}
.about-pochtman-link {
  cursor: pointer;
}

.errorlist {
  text-transform: lowercase;
  list-style: none;
  color: red;
}

.login {
  width: 100%;
  height: auto;
  position: relative;
}

.side-image {
  position: absolute;
  left: 0;
  top: 30%;
}

.side-image img {
  width: 40rem;
  height: 35rem;
}

.form-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.form__label {
  color: #797676;
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 1rem 0;
}
.form #id_username, .form #id_password {
  box-sizing: border-box;
  border: none;
  box-shadow: 0px 0px 10px 0px #1C58F0;
  width: 20rem;
  height: 3rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #0E1015;
  padding: 2rem 0rem 2rem 2rem;
  border-bottom: 0.2rem solid transparent;
}
.form #id_username:focus, .form #id_password:focus {
  outline: none;
  border-bottom: 0.2rem solid #66D763;
  box-shadow: 0px 0px 10px 0px #1C58F0;
}
.form #id_username:focus:invalid, .form #id_password:focus:invalid {
  border-bottom: 0.2rem solid #f99a9a;
}

.signup-form {
  width: 50%;
  margin: 0 auto;
}

.fields {
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.field {
  width: 15rem;
  height: 18rem;
  text-align: center;
}
.field__btn::before {
  height: 4.4rem;
}

.selected-fields {
  margin-top: -5.8rem;
  width: 50%;
  height: 30rem;
}
.selected-fields__title {
  text-align: center;
}
.selected-fields__field {
  text-align: center;
}

.create-form-btn {
  z-index: 10;
}
.create-form-btn:before {
  height: 4.4rem;
}

.constructor {
  opacity: 0;
  transition: opacity 1s linear;
}
.constructor__input-form-name {
  width: 30rem;
  height: 5rem;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #867575;
}
.constructor__fields-wrapper {
  display: flex;
}
.btn-not-anim {
  padding: 1rem 4rem;
  outline: none;
  background: none;
  cursor: pointer;
  border: 0.3rem solid #1C58F0;
  color: #8b8585;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 1rem;
  transition: background 0.4s ease-in-out;
}
.btn-not-anim:hover:not(:active) {
  background: #f4ebeb;
}
.btn-not-anim:active {
  background-color: #f4ebeb;
  transform: scale(0.95);
}

.constructor-results {
  opacity: 0;
  transition: opacity 1s linear;
}

.show {
  opacity: 1;
}

.btn-wrapper-copy-text {
  position: absolute;
  right: 0;
  top: 0;
}

.keyword {
  color: #A5292A;
}

.rule__keyword {
  color: #FF2D26;
}
.rule__keyword:after {
  content: " ";
}

.value {
  color: #659900;
}

.js-keyword {
  color: #0177AA;
}

.js-function {
  color: #C23C55;
}

.js-body-com {
  color: #747171;
}

.js-body-str {
  color: #659900;
}

.js-body-int {
  color: #0177AA;
}

.results-wrapper {
  display: flex;
}

.html-code-content {
  width: 100%;
}

.css-code-content {
  width: 100%;
}

.js-code-content {
  width: 100%;
}

.h-tag {
  color: #006599;
}

.h-atr {
  color: #C23C55;
}

.h-str {
  color: #659900;
}

.json-api-red {
  color: #DD1143;
  font-size: 1.4rem;
  font-weight: 600;
}

.navigation {
  width: 100%;
  height: 6rem;
}
.navigation__menu {
  list-style: none;
  display: flex;
  justify-content: center;
}
.navigation__menu_not-center {
  justify-content: start;
}
.navigation__item:not(:last-child) {
  padding-right: 0.5rem;
}
.navigation__btn {
  cursor: pointer;
  text-decoration: none;
  color: #867575;
  font-weight: 600;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 0.3rem;
  border-image-source: linear-gradient(to left, #07a9b2, #3585e8);
  background: #fff;
  padding: 1rem 3rem;
  transition: all 0.4s ease-in-out;
}
.navigation__btn:hover, .navigation__btn:active {
  color: #1B9CFF;
  font-weight: 900;
}
.navigation__btn_red {
  color: #d15858;
  border-image-source: linear-gradient(to right, #ef1010, #972302);
}
.navigation__btn_red:hover, .navigation__btn_red:active {
  color: #f90606;
  font-weight: 900;
}

.loader-css {
  width: 100%;
  height: 10rem;
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #a8a3a3;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.temp-detail {
  width: 100%;
  display: flex;
}
@media (max-width: 870px) {
  .temp-detail {
    gap: 7rem;
  }
}
@media (max-width: 650px) {
  .temp-detail {
    flex-direction: column;
  }
}
.temp-detail-left {
  min-width: 25%;
}
@media (max-width: 950px) {
  .temp-detail-left {
    padding-bottom: 4rem;
  }
}
@media (max-width: 650px) {
  .temp-detail-left {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
  }
}
.temp-detail-right {
  min-width: 70%;
  height: auto;
}
#id_fields {
  color: #867575;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.form-wrapper-temp-edit {
  display: flex;
  justify-content: space-evenly;
}

.temp-edit-form {
  padding: 3rem;
  width: 35%;
}
@media (max-width: 650px) {
  .temp-edit-form {
    width: 70%;
  }
}
.temp-edit-form label[for=id_name] {
  font-weight: 600;
  color: #867575;
  font-size: 1.7rem;
  padding-bottom: 1rem;
}
.temp-edit-form input[type=checkbox] {
  margin-right: 2rem;
}

#id_name {
  display: block;
  margin: 1rem 0;
  padding: 0.5rem;
  width: 20rem;
  height: 4rem;
  font-size: 1.7rem;
  color: #867575;
  font-weight: 600;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 0.3rem;
  border-image-source: linear-gradient(to left, #07a9b2, #3585e8);
}

#id_fields_helptext {
  color: #3585e8;
  font-weight: 600;
}

.btn-nav {
  cursor: pointer;
  text-decoration: none;
  color: #867575;
  font-weight: 600;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 0.3rem;
  border-image-source: linear-gradient(to left, #07a9b2, #3585e8);
  background: #fff;
  padding: 1rem 3rem;
  transition: all 0.4s ease-in-out;
}
.btn-nav:hover, .btn-nav:active {
  color: #1B9CFF;
  font-weight: 900;
}

@media (max-width: 650px) {
  .edit-form-img {
    display: none;
  }
}
.edit-form-img__image:hover {
  animation: rotation 10s linear infinite;
}

.back-btn {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 650px) {
  .back-btn {
    display: none;
  }
}
.back-btn:hover {
  background: rgba(134, 117, 117, 0.1);
}
.back-btn__btn {
  text-decoration: none;
  font-size: 3.5rem;
  color: #4966FF;
}
.back-btn__btn:hover {
  color: #2041e6;
}

.contacts-form {
  width: 24rem;
}
@media (max-width: 650px) {
  .contacts-form {
    margin-top: 0;
  }
}
.contacts-form__text-info {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #e40d0d;
  line-height: 0.95;
}
.contacts-form__text-info:before {
  content: "*";
}
.contacts-form__title {
  font-size: 1.8rem;
  font-weight: 600;
  background: linear-gradient(198deg, rgb(255, 255, 255) 0%, rgb(7, 169, 178) 30%, rgb(53, 133, 232) 93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contact-form {
  border: 1px #0d6efd solid;
  height: auto;
  text-align: center;
}
.contact-form__contact {
  display: flex;
  justify-content: center;
}
.contact-form__check-telegram {
  cursor: pointer;
  margin-top: 0.2rem;
  font-size: 2.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  opacity: 0;
}
.contact-form__check-telegram:hover {
  transform: scale(1.2);
}
.contact-form__current-contact {
  font-size: 1.4rem;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: scroll;
  padding: 0.5rem 0.5rem 2rem;
  color: #6b5f5f;
}
.contact-form__current-contact_telegram {
  display: inline-block;
  margin-right: 2rem;
}
@media (max-width: 650px) {
  .contact-form__actions {
    margin-bottom: 3rem;
  }
}
.contact-form__action {
  height: 2rem;
  width: 2rem;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.contact-form__action:hover {
  transform: scale(1.2);
}
.contact-form__action-save {
  height: 2rem;
  width: 2rem;
}

.form-edit-temp-contact {
  padding-top: 1rem;
}

#user-email {
  width: 80%;
  height: 2.5rem;
  border-radius: 1rem;
  color: #6b5f5f;
  padding: 0 1rem;
  border: 1px #0d6efd solid;
  outline: none;
}

#user-telegram {
  width: 80%;
  height: 2.5rem;
  border-radius: 1rem;
  color: #6b5f5f;
  padding: 0 1rem;
  border: 1px #0d6efd solid;
  outline: none;
}

#id_email, #id_password1, #id_password2, #id_first_name, #id_last_name, #id_telegram_username {
  width: 40%;
  height: 3.5rem;
  border-radius: 1rem;
  color: #6b5f5f;
  padding: 0 1rem;
  border: 1px #0d6efd solid;
  outline: none;
}

.save-update-profile {
  width: 20%;
  height: 3.5rem;
  border-radius: 1rem;
  color: #fff;
  padding: 0 1rem;
  border: none;
  outline: none;
  background: linear-gradient(122deg, rgb(250, 85, 96) 0.01%, rgb(177, 75, 244) 49.9%, rgb(77, 145, 255) 100%);
  cursor: pointer;
}
@media (max-width: 650px) {
  .save-update-profile {
    width: 50%;
  }
}
.save-update-profile:hover {
  border: 0.2rem solid #4d91ff;
}

.hidden-animate {
  animation: cssHiddenAnimation 0s ease-in 1s forwards;
  animation-fill-mode: forwards;
}

@keyframes cssHiddenAnimation {
  to {
    opacity: 0;
  }
}
.wrapper-content {
  display: flex;
}
@media (max-width: 650px) {
  .wrapper-content {
    display: block;
  }
}
.wrapper-content__left {
  min-width: 30%;
  height: 50rem;
}
@media (max-width: 650px) {
  .wrapper-content__left {
    height: auto;
  }
}
.wrapper-content__left_img-wrap {
  height: auto;
  text-align: center;
}
.wrapper-content__right {
  min-width: 70%;
  height: 50rem;
}
@media (max-width: 650px) {
  .wrapper-content__right {
    margin: 0 auto;
  }
}
.wrapp-image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
@media (max-width: 950px) {
  .wrapp-image {
    display: none;
  }
}
.wrapp-image__img {
  width: 50rem;
  height: 40rem;
}
.wrapp-image__img-one {
  width: 20rem;
  height: 40rem;
  margin-left: 20rem;
}

.lk__items {
  list-style: none;
}
.lk__item {
  overflow: hidden;
  text-align: center;
  display: inline-block;
  min-width: 80%;
  margin: 1rem auto;
  margin-left: 10%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 3.5rem;
  border-radius: 1rem;
  color: #6b5f5f;
  padding: 0 1rem;
  border: 1px #0d6efd solid;
  outline: none;
}

.updade-lk {
  text-decoration: none;
  padding: 0.5rem 2rem !important;
  border-radius: 2rem !important;
}

.api-block {
  width: 90%;
  color: #6b5f5f;
  margin: 0 auto;
}
.api-block__desc {
  font-size: 1.6rem;
  font-weight: normal;
}
@media (max-width: 650px) {
  .api-block__desc {
    text-align: center;
  }
}
.api {
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 650px) {
  .api {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.api__create-api-key-btn {
  font-size: 1.6rem;
  width: 18rem !important;
  padding: 0.5rem 1.5rem !important;
  border-radius: 2rem !important;
}
.hidden-api-key {
  font-size: 1.6rem;
  width: 18rem !important;
  padding: 0.5rem 1.5rem !important;
  border-radius: 2rem !important;
  width: 20%;
  height: 3.5rem;
  border-radius: 1rem;
  color: #fff;
  padding: 0 1rem;
  border: none;
  outline: none;
  background: linear-gradient(122deg, rgb(250, 85, 96) 0.01%, rgb(177, 75, 244) 49.9%, rgb(77, 145, 255) 100%);
  cursor: pointer;
}
@media (max-width: 650px) {
  .hidden-api-key {
    width: 50%;
  }
}
.hidden-api-key:hover {
  border: 0.2rem solid #4d91ff;
}
.update-api-key {
  color: #e40d0d;
  font-size: 1.4rem;
  margin-left: 1rem;
}
.update-api-key::before {
  content: "*";
}

.reset-password-btn {
  width: 20%;
  height: 3.5rem;
  border-radius: 1rem;
  color: #fff;
  padding: 0 1rem;
  border: none;
  outline: none;
  background: linear-gradient(122deg, rgb(250, 85, 96) 0.01%, rgb(177, 75, 244) 49.9%, rgb(77, 145, 255) 100%);
  cursor: pointer;
  width: 20rem !important;
}
@media (max-width: 650px) {
  .reset-password-btn {
    width: 50%;
  }
}
.reset-password-btn:hover {
  border: 0.2rem solid #4d91ff;
}

.temp-cards-wrapper {
  width: 100%;
}

.temp-cards {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 5.8rem;
  flex-wrap: wrap;
}
@media (max-width: 650px) {
  .temp-cards {
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .temp-cards {
    justify-content: center;
  }
}
.temp-card {
  position: relative;
  width: 24rem;
  border: 1px #0d6efd solid;
  border-radius: 0.5rem;
  padding-bottom: 5rem;
}
.temp-card__header {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.temp-card__header_link {
  text-decoration: none;
  color: #000000;
}
.temp-card__header_temp-id {
  font-size: 1.2rem;
  font-weight: 600;
  color: #e40d0d;
}
.temp-card__body {
  padding-left: 0.5rem;
  color: #6b5f5f;
}
@media (max-width: 950px) {
  .temp-card__body {
    padding-bottom: 4rem;
  }
}
@media (max-width: 650px) {
  .temp-card__body {
    flex-direction: column;
  }
}
.temp-card__title {
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.temp-card__text {
  font-size: 1.4rem;
}
.temp-card__text-bold {
  color: #0d6efd;
  font-size: 1.2rem;
  font-weight: bold;
}
.temp-card__text-underline {
  text-decoration: underline;
}
.temp-card__buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  text-align: center;
}
.temp-card__notification {
  position: absolute;
  bottom: 0.5rem;
  z-index: 22;
  content: "";
  width: 1rem;
  height: 1rem;
  background: red;
  border-radius: 50%;
  display: none;
}
.temp-card__button {
  transition: transform 0.2s ease-in-out;
}
.temp-card__button:hover {
  transform: scale(1.1, 1.1);
}
.temp-card__button:not(:last-child) {
  margin-right: 1rem;
}

.temp-detail {
  width: 100%;
  display: flex;
}
@media (max-width: 870px) {
  .temp-detail {
    gap: 7rem;
  }
}
@media (max-width: 650px) {
  .temp-detail {
    flex-direction: column;
  }
}
.temp-detail-left {
  min-width: 25%;
}
@media (max-width: 950px) {
  .temp-detail-left {
    padding-bottom: 4rem;
  }
}
@media (max-width: 650px) {
  .temp-detail-left {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
  }
}
.temp-detail-right {
  min-width: 70%;
  height: auto;
}
#id_fields {
  color: #867575;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.form-wrapper-temp-edit {
  display: flex;
  justify-content: space-evenly;
}

.temp-edit-form {
  padding: 3rem;
  width: 35%;
}
@media (max-width: 650px) {
  .temp-edit-form {
    width: 70%;
  }
}
.temp-edit-form label[for=id_name] {
  font-weight: 600;
  color: #867575;
  font-size: 1.7rem;
  padding-bottom: 1rem;
}
.temp-edit-form input[type=checkbox] {
  margin-right: 2rem;
}

#id_name {
  display: block;
  margin: 1rem 0;
  padding: 0.5rem;
  width: 20rem;
  height: 4rem;
  font-size: 1.7rem;
  color: #867575;
  font-weight: 600;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 0.3rem;
  border-image-source: linear-gradient(to left, #07a9b2, #3585e8);
}

#id_fields_helptext {
  color: #3585e8;
  font-weight: 600;
}

.btn-nav {
  cursor: pointer;
  text-decoration: none;
  color: #867575;
  font-weight: 600;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 0.3rem;
  border-image-source: linear-gradient(to left, #07a9b2, #3585e8);
  background: #fff;
  padding: 1rem 3rem;
  transition: all 0.4s ease-in-out;
}
.btn-nav:hover, .btn-nav:active {
  color: #1B9CFF;
  font-weight: 900;
}

@media (max-width: 650px) {
  .edit-form-img {
    display: none;
  }
}
.edit-form-img__image:hover {
  animation: rotation 10s linear infinite;
}

.back-btn {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 650px) {
  .back-btn {
    display: none;
  }
}
.back-btn:hover {
  background: rgba(134, 117, 117, 0.1);
}
.back-btn__btn {
  text-decoration: none;
  font-size: 3.5rem;
  color: #4966FF;
}
.back-btn__btn:hover {
  color: #2041e6;
}

.contacts-form {
  width: 24rem;
}
@media (max-width: 650px) {
  .contacts-form {
    margin-top: 0;
  }
}
.contacts-form__text-info {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #e40d0d;
  line-height: 0.95;
}
.contacts-form__text-info:before {
  content: "*";
}
.contacts-form__title {
  font-size: 1.8rem;
  font-weight: 600;
  background: linear-gradient(198deg, rgb(255, 255, 255) 0%, rgb(7, 169, 178) 30%, rgb(53, 133, 232) 93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contact-form {
  border: 1px #0d6efd solid;
  height: auto;
  text-align: center;
}
.contact-form__contact {
  display: flex;
  justify-content: center;
}
.contact-form__check-telegram {
  cursor: pointer;
  margin-top: 0.2rem;
  font-size: 2.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  opacity: 0;
}
.contact-form__check-telegram:hover {
  transform: scale(1.2);
}
.contact-form__current-contact {
  font-size: 1.4rem;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: scroll;
  padding: 0.5rem 0.5rem 2rem;
  color: #6b5f5f;
}
.contact-form__current-contact_telegram {
  display: inline-block;
  margin-right: 2rem;
}
@media (max-width: 650px) {
  .contact-form__actions {
    margin-bottom: 3rem;
  }
}
.contact-form__action {
  height: 2rem;
  width: 2rem;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.contact-form__action:hover {
  transform: scale(1.2);
}
.contact-form__action-save {
  height: 2rem;
  width: 2rem;
}

.form-edit-temp-contact {
  padding-top: 1rem;
}

#user-email {
  width: 80%;
  height: 2.5rem;
  border-radius: 1rem;
  color: #6b5f5f;
  padding: 0 1rem;
  border: 1px #0d6efd solid;
  outline: none;
}

#user-telegram {
  width: 80%;
  height: 2.5rem;
  border-radius: 1rem;
  color: #6b5f5f;
  padding: 0 1rem;
  border: 1px #0d6efd solid;
  outline: none;
}

#id_email, #id_password1, #id_password2, #id_first_name, #id_last_name, #id_telegram_username {
  width: 40%;
  height: 3.5rem;
  border-radius: 1rem;
  color: #6b5f5f;
  padding: 0 1rem;
  border: 1px #0d6efd solid;
  outline: none;
}

.save-update-profile {
  width: 20%;
  height: 3.5rem;
  border-radius: 1rem;
  color: #fff;
  padding: 0 1rem;
  border: none;
  outline: none;
  background: linear-gradient(122deg, rgb(250, 85, 96) 0.01%, rgb(177, 75, 244) 49.9%, rgb(77, 145, 255) 100%);
  cursor: pointer;
}
@media (max-width: 650px) {
  .save-update-profile {
    width: 50%;
  }
}
.save-update-profile:hover {
  border: 0.2rem solid #4d91ff;
}

.hidden-animate {
  animation: cssHiddenAnimation 0s ease-in 1s forwards;
  animation-fill-mode: forwards;
}

@keyframes cssHiddenAnimation {
  to {
    opacity: 0;
  }
}
.wrapper-grid-table {
  display: grid;
  grid-auto-rows: minmax(2rem, auto);
  grid-auto-columns: minmax(3rem, auto);
}

.wrapper-grid-table-head {
  display: grid;
  grid-auto-rows: minmax(2rem, auto);
  grid-auto-columns: minmax(3rem, auto);
  font-weight: 700;
}

.grid-cell-head {
  border: 1px solid #000000;
  background: rgba(53, 133, 232, 0.5);
  padding: 0.7rem 0.5rem;
}

.grid-cell {
  cursor: pointer;
  border: 1px solid #000000;
  padding-left: 0.5rem;
}
.grid-cell_unreaded {
  background: #91eaa5;
}
.grid-cell:hover {
  background: #cec9c9;
}

.field-card {
  width: 100%;
}

.field-card-table {
  margin: 0 auto;
  width: 50%;
  border: 1px solid #000000;
  border-radius: 0.5rem;
}
.field-card-table__cell {
  min-width: 15rem;
  text-align: center;
}
.field-card-table__cell_data {
  text-align: center;
  border-bottom: 1px solid #000;
}
.field-card-table__cell_type-field {
  font-weight: 500;
  background: #d5d1d1;
}

.wrapper-time {
  padding-top: 1rem;
}
.wrapper-time__time {
  color: #858282;
}

.none-notifications {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #867575;
}

.wrapper-grid-table {
  width: 100%;
  border: 1px solid #ccc;
  margin: 0 auto;
}

#table-results {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
@media (max-width: 650px) {
  #table-results {
    font-size: 1.2rem;
  }
}
.table-row {
  cursor: pointer;
  height: 3rem;
  border-bottom: 0.1rem solid #000;
  padding-left: 1rem;
}
.table-row:hover {
  background: #c8c2c2;
}
.table-row__head {
  text-align: left;
  height: 45px;
  color: #fff;
  background: #767373;
}
.table-row__head :first-child {
  padding-left: 1rem !important;
}

.table-cell__time {
  padding-left: 1rem;
}

.action-notification {
  cursor: pointer;
}
.action-notification__remove-notification:hover {
  transform: scale(1.1, 1.1);
}
.action-notification__view-notification {
  margin-right: 2rem;
}
.action-notification__view-notification:hover {
  transform: scale(1.1, 1.1);
}

.unreaded {
  background: rgba(179, 181, 179, 0.8);
}

.inner-statics {
  display: flex;
}

.static {
  width: 100%;
}
.static__interval {
  display: flex;
}
@media (max-width: 950px) {
  .static__interval {
    flex-direction: column;
    gap: 5rem;
  }
}
@media (max-width: 650px) {
  .static__interval {
    flex-direction: column;
    gap: 5rem;
  }
}
.statics-total {
  position: absolute;
  top: 10rem;
  right: 5%;
  display: inline-block;
  padding: 2rem 5rem;
  color: #807d7d;
  background: rgba(233, 229, 229, 0.5);
}
.statics-total__number {
  font-size: 2rem;
  margin-left: 1rem;
  color: #2A92D4;
}

.no-statics-desc {
  color: #6b5f5f;
  font-size: 1.8rem;
}

.api-block__link {
  color: #36a0e2;
}

.preparation-docs {
  width: 90%;
  color: #6b5f5f;
  margin: 0 auto;
}
.preparation-docs__desc {
  font-size: 1.6rem;
  font-weight: normal;
}

.creating-form-docs {
  width: 90%;
  color: #6b5f5f;
  margin: 0 auto;
}
.creating-form-docs__desc {
  font-size: 1.6rem;
  font-weight: normal;
}

.creating-form-instruction-list__item {
  margin-left: 5rem;
}
.creating-form-instruction-list__item:not(:last-child) {
  padding-bottom: 1rem;
}

.integration-docs {
  width: 90%;
  color: #6b5f5f;
  margin: 0 auto;
}
.integration-instruction-list__item {
  margin-left: 5rem;
}
.integration-instruction-list__item:not(:last-child) {
  padding-bottom: 1rem;
}

.danger {
  color: #e40d0d;
  font-size: 1.4rem;
}

.docs_videos video {
  width: 70rem;
  height: 50rem;
}
@media (max-width: 870px) {
  .docs_videos video {
    max-width: 100% !important;
  }
}
@media (max-width: 650px) {
  .docs_videos video {
    max-width: 100% !important;
  }
}
.pochtmen-contacts__item {
  margin-left: 5rem;
}
.pochtmen-contacts__item:not(:last-child) {
  padding-bottom: 1rem;
}

.navigation-menu {
  display: none;
}
@media (max-width: 920px) {
  .navigation-menu {
    display: block;
  }
}
.navigation-menu__togle {
  display: none;
}
.navigation-menu__button {
  background: #ffffff;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  right: 6rem;
  top: 1rem;
  z-index: 200;
  text-align: center;
  cursor: pointer;
}
.navigation-menu__bg {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: radial-gradient(rgb(7, 169, 178), rgb(53, 133, 232));
  position: fixed;
  right: 6rem;
  top: 1.5rem;
  z-index: 100;
  transition: all 0.5s;
}
.navigation-menu__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -150rem;
  z-index: 150;
  transition: all 0.5s;
  opacity: 0;
  width: 0;
}
.navigation-menu__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
.navigation-menu__item {
  text-align: center;
}
.navigation-menu__item:not(:last-child) {
  margin-bottom: 2rem;
}
.navigation-menu__link-hm:link, .navigation-menu__link-hm:visited {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  padding: 1rem 2 rem;
  display: inline-block;
  transition: all 0.3s linear;
}
.navigation-menu__link-hm:hover, .navigation-menu__link-hm:active {
  color: #2537d4 !important;
  transform: translateX(0.5rem);
}
.navigation-menu__togle:checked ~ .navigation-menu__bg {
  transform: scale(100);
}
.navigation-menu__togle:checked ~ .navigation-menu__nav {
  width: 100%;
  opacity: 1;
  right: 0;
}
.navigation-menu__icon {
  position: relative;
  margin-top: 3rem;
}
.navigation-menu__icon, .navigation-menu__icon::before, .navigation-menu__icon::after {
  width: 3rem;
  height: 0.2rem;
  background: #000000;
  display: inline-block;
}
.navigation-menu__icon::before, .navigation-menu__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation-menu__icon::before {
  top: -0.8rem;
}
.navigation-menu__icon::after {
  top: 0.8rem;
}
.navigation-menu__button:hover .navigation-menu__icon::before {
  top: -1rem;
}
.navigation-menu__button:hover .navigation-menu__icon::after {
  top: 1rem;
}
.navigation-menu__togle:checked + .navigation-menu__button .navigation-menu__icon {
  background: transparent;
}
.navigation-menu__togle:checked + .navigation-menu__button .navigation-menu__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation-menu__togle:checked + .navigation-menu__button .navigation-menu__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/*# sourceMappingURL=styles_sass.css.map */
