{% extends 'flatpages/default.html' %}
{% load static %}
{% load allauth account %}
{% block title %}Change Password{% endblock title %}

{% block content %}
<section class="head">
    <h1 class="head__title margin-top-5rem">Изменить пароль</h1>
</section>

<div class="center">
    <form class="login-form" method="POST" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {% element fields form=form %}
    {% endelement %}
        {% element button type="submit" %}
                {% trans "Change Password" %}
            {% endelement %}
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>
{% comment %}
<div class="center">
    <form class="login-form" method="POST" action="{% url 'account_change_password' %}">
      {% csrf_token %}
        <div class="form__fieldWrapper">
            <label class="form__label" for="{{ form.password1.id_for_label }}">Новый пароль</label>
            {{ form.password1 }}
        </div>
        <div class="form__fieldWrapper">
            <label class="form__label" for="{{ form.password2.id_for_label }}">Новый пароль(еще раз)</label>
            {{ form.password2 }}
        </div>
        <div class="wrapper-btn-auth center margin-top-2rem">
            <button class="reset-password-btn" type="submit">Изменить пароль</button>
        </div>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>

</div>
{% endcomment %}
{% endblock content %}