{% extends 'flatpages/default.html' %}
{% load static %}
{% load allauth account %}
{% block title %}Login{% endblock title %}

{% block content %}
<section class="head">
    <h1 class="head__title margin-top-5rem">Сброс пароля</h1>
</section>

<div class="center">
    <p class="margin-top-2rem auth-description">Мы отправили вам электронное письмо. Если вы его не получили, пожалуйста, проверьте папку «Спам». В противном случае свяжитесь с нами, если вы не получите его в течение нескольких минут.</p>
</div>

{% endblock content %}