{% extends 'flatpages/default.html' %}
{% load static %}
{% load allauth account %}
{% block title %}Login{% endblock title %}

{% block content %}
<section class="head">
    <h1 class="head__title margin-top-5rem">Сброс пароля</h1>
</section>

<div class="center">
    <p class="margin-top-2rem auth-description">Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам электронное письмо, позволяющее сбросить его.</p>
    <p class="margin-top-2rem auth-description">Пожалуйста, свяжитесь с нами, если у вас возникнут проблемы со сбросом пароля.</p>

    <form class="login-form" method="POST" action="{% url 'account_reset_password' %}">
      {% csrf_token %}
        <div class="form__fieldWrapper">

            <label class="form__label" for="{{ form.email.id_for_label }}">Эл. почта</label>
            {{ form.email }}
        </div>
        <div class="wrapper-btn-auth center margin-top-2rem">
            <button class="reset-password-btn" type="submit">Сбросить пароль</button>
        </div>
    </form>
</div>

{% endblock content %}